<div class=" panel-primary" id="main" style="border:0px solid ;text-align:center;padding-top:0px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">图书管理系统</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="myform">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            用户名：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="推荐使用126邮箱" ng-model="user.name" required  maxlength="5" ng-change="change()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            密码：
                        </label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" placeholder="只能是数字、字母、下划线" ng-model="user.password" required ng-change="change()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            验证码：
                        </label>
                        <div class="col-md-8">
                         <input ng-model="task.taskName" type="text" name="taskName" required op-special show-msg="请输入1-50汉字、英文、数字或_-" op-length="50"/> 

                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="user.authCode1"; readonly="readonly">  

                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-success btn-lg" ng-click="logon()" ng-disabled="aa">登录</button>
                           <!--  <button type = "reset" class="btn btn-success btn-lg">重置</button> -->
                            <button class="btn btn-success btn-lg">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dandelion">
    <span class="smalldan"></span>
    <span class="bigdan"></span>
</div>
<style type="text/css">
.dandelion .smalldan {
    width: 36px;
    height: 60px;
    left: 21px;
    background-position: 0 -90px;
    border: 0px solid red;
}

.dandelion span {
    -webkit-animation: ball-x 3s linear 2s infinite;
    -webkit-transform-origin: bottom center;
}

.dandelion span {
    display: block;
    position: absolute;
    bottom: 0px;
    background-image: url(http://mat1.gtimg.com/www/mb/images/zt/memory/pgy.png);
    background-repeat: no-repeat;
    _background: none;
}

.dandelion .bigdan {
    width: 64px;
    height: 115px;
    left: 47px;
    background-position: -86px -36px;
    border: 0px solid red;
}

@-webkit-keyframes ball-x {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-20deg);
    }
    /*80% {
        -webkit-transform: rotate(7deg);
    }*/
    100% {
        -webkit-transform: rotate(0deg);
    }
}

#main {
    position: absolute;
    width: 800px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
    border: 1px solid #00F
}
/*css注释：为了方便截图，对CSS代码进行换行*/
</style>
