<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item active">
				书籍类型
            </a>
            <a href="javascript:void(0);" class="list-group-item" ng-click="queryInit()">全部</a>
            <a href="javascript:void(0);"class="list-group-item" ng-click="queryInit(1)">小说</a>
            <a href="javascript:void(0);" class="list-group-item" ng-click="queryInit(2)">金融</a>
            
        </div>
    </div>
</div>
